<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  beStrictAboutTestsThatDoNotTestAnything="true"
  colors="true"
  convertErrorsToExceptions="false"
  convertNoticesToExceptions="false"
  convertWarningsToExceptions="false"
  stopOnError="false"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="Practice TDD">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
